SQLALCHEMY_DATABASE_URI = 'Your local database url, for example: postgres://postgres:postgres@localhost/trivia'
SQLALCHEMY_TEST_DATABASE_URI = 'Your local database url, ' \
                               'for example: postgres://postgres:postgres@localhost/trivia_test'
